<!-- <div class="panel panel-default">
    <div class="panel-heading">

<h4 class="panel-title">Repos </h4>
    </div>

    <div class="panel-body" *ngFor="let repo of repo">
        <p> <a href="{{repo.html_url}}" target="_blank" class="btn btn-success btn-sm"> View repo on github</a>

        </p>
    </div>
</div> -->
   

<div *ngIf="repo" >
    <div class="card" *ngFor='let repo of repo'>
        <div class="card-body" appHighlight>
            <a href="{{repo.html_url}}" target="_blank"><strong>{{repo.name}}</strong></a>
            <p><strong>Created {{repo.created_at|dateCount}} </strong> </p>
            <p><strong>Created by:</strong> {{repo.owner.login}}</p>
            <p><strong>Language used:</strong> {{repo.language}}</p>
            <p>{{repo.description}}</p>
        </div>
    </div>